body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(corazon.jpg); 
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

#container {
    text-align: center;
    font-family:'Lobster', cursive; 
}

h1 {
    font-size: 3rem;
    background-image: linear-gradient(to right, rgb(13, 0, 255), rgb(255, 0, 0));
    margin-bottom: 1rem;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}

#buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}




button:hover {
    background-color: #7ba045;
}


button {
    margin: 0 10px;
    background: linear-gradient(45deg, transparent 27%, #8a0b0b 5%, #880b0b 73%, transparent 27%);
    box-shadow: 6px 0px 0px #000000;
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: 3px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 0 #fe0000;
    transition: all .3s ease-in-out;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #ff0040);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ff0040);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ff0040);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #ff0040);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ff0040);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ff0040);
    z-index: -5;
    transition: all .8s ease;
  }
  
  #btnSi:hover {
    background: transparent;
    color: #f60000;
    box-shadow: 0 0 50px #fe003f;
  }
  
  #btnSi:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #ff0040);
    z-index: 2;
  }
  
  #btnSi:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ff0040);
    z-index: 2;
  }
  
  #btnSi:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #ff0040);
    z-index: 2;
  }
  
  #btnSi:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #ff0040);
    z-index: 2;
  }
  
  #btnSi:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ff0040);
    z-index: 2;
  }
  
  #btnSi:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fd003f);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fe003f
  }

 

#btnNo {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  transition-duration: .2s;
  background-color: var(--ch-black);
}
#btnNo:before, #btnNo:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, 
  var(--ch-black), var(--eer-black),
  var(--night-rider), var(--ch-white), var(--night-rider), 
	var(--eer-black), var(--ch-black),var(--ch-black));
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

#btnNo:after {
  filter: blur(50px);
}

